version: '3.8'

services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ../htdocs:/var/www/html
    environment:
      # MongoDB Atlas Configuration (SRV)
      - MONGO_URI=mongodb+srv://Dharshankumar:Dharshankumar125478@cluster0.ypjp051.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
      - MONGO_DB=Dharshan_kumarj_Assign_3

      # RabbitMQ Configuration
      - RABBITMQ_HOST=rabbitmq.selfmade.ninja
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=dharshan_kumarj
      - RABBITMQ_PASS=12345678

    restart: always
